* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}


.ball {
    width: 100px;
    height: 100px;
    align-content: center;

    margin: 400px auto;

    border-radius: 50%;
    background-color: blanchedalmond;
    text-align: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
}